
Button, Label {
    -fx-font-family: "Swiss 911 Ultra Compressed";
}

.dialog-pane * {
    -fx-font-family: SansSerif !important;
    -fx-font-size: 15px;
}

#starDateLabel {
    -fx-background-color: #F1DF6F;
    -fx-font-size: 35px;
}

#background {
    -fx-background-color: #000000;
    -fx-blend-mode: screen;
}

#top_box, #masterPane {
    -fx-background-color: #F1DF6F;
    -fx-background-radius: 100px 100px 100px 100px;
}

#viewPane {
    -fx-background-radius: 60px 0px 0px 60px;
    -fx-background-color: #000000;
}

/*#topViewDecoration {*/
    /*-fx-background-color: #CC6666;*/
    /*-fx-background-radius: 60px 60px 0px 60px;*/
/*}*/

/*#sideViewDecoration {*/
    /*-fx-background-color: #CC6666;*/
    /*-fx-background-radius: 0px 0px 60px 60px;*/
/*}*/

#menuPane Button {
    -fx-background-color: #3399FF;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5px 0px 5px 0px;
    -fx-font-size: 35px;
}

#menuPane Button:hover {
    -fx-background-color: #99CCFF;
}

#exitButton {
    -fx-background-color: #c10011;
    -fx-border-width: 0px 5px 0px 5px;
    -fx-font-size: 60px;
}

#exitButton:hover {
    -fx-background-color: #f30012;
    -fx-border-width: 0px 5px 0px 5px;

}

#homeButton, #emptyButton {
    -fx-background-color: #FFFF33;
}

#homeButton:hover, #emptyButton:hover {
    -fx-background-color: #FFFF33;
}

#softwareInfoLabel, #systemInformation {
    -fx-font-size: 35px;
}

#windowTitle {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
}

/**
Home specific elements
 */

#welcomeLabel {
    -fx-font-size: 70px;
    -fx-text-fill: #FFFFFF;
}